@font-face {
    font-family: pixels;
    src: url("./Press_Start_2P/PressStart2P-Regular.ttf");
}
*{
    font-family: pixels;
}
body{
    background-image: url("./Asserts/Level\ 4\ \(1\).png");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
.howtoplay{
    position: relative;
    left: 22%;
    top: 180px;
    background-color: #CAE1F0;
    width: 880px;
    height: 400px;
    border-radius: 19px;
    /* here --------------->>>>>>*/
    /* display: none; */
}
h1{
    position: relative;
    left: 60px;
    top: 45px;
}
#description{
    position: relative;
    top: 45px;
    left: 120px;
    font-size: 1.5rem;
    line-height: 44px;
}
#arrowkeys{
    position: relative;
    left: 67%;
    bottom: 130px;
    height: 150px;
}
#leftarrow{
    position: relative;
    bottom: 40px;
    right: 110px;
    height: 50px;
}
#left{
    position: relative;
    left: 190px;
    bottom: 90px;
}
#toparrow{
    position: relative;
    bottom: 145px;
    left: 400px;
    height: 60px;
}
#top{
    position: relative;
    left: 460px;
    bottom: 200px;
}
#rightarrow{
    position: relative;
    left: 600px;
    bottom: 245px;
    height: 50px;
}
#right{
    position: relative;
    left: 670px;
    bottom: 300px;
}
button{
    position: relative;
    left: 45%;
    top: 230px;
    font-size: 1.2rem;
    background-color: #96CBEE;
    padding: 20px 45px 20px 45px;
    border: none;
    border-radius: 27px;
    /* here-------------->>>>>>>>> */
    /* display: none; */
}
.flipped{
    transform: scaleX(-1);
    transition: all 0s;
}
#man{
    position: relative;
    bottom: 30px;
    transition: all 0.1s;
    /* border: red 2px solid; */
}
#rat,#spider,#snake,#centipedie{
    position: relative;
    bottom: 20px;
    /* border: red 2px solid; */
}
/* setting animation for the moving elements */
@keyframes spider {
    0%{
        left: 100%;
    }
    100%{
        left: -180%;
    }
}
@keyframes rat {
    0%{
        left: 260%;
    }
    100%{
        left: -200%;
    }
    
}
@keyframes snake {
    0%{
        left: 120%;
    }
    100%{
        left: -160%;
    }
    
}
@keyframes centipiede {
    0%{
        left: 150%;
    }
    100%{
        left: -170%;
    }
    
}
@keyframes coin1 {
    0%{
        left: 100%;
    }
    100%{
        left: -80%;
    }
}
@keyframes coin2 {
    0%{
        left: 120%;
    }
    100%{
        left: -80%;
    }
}
@keyframes coin3 {
    0%{
        left: 140%;
    }
    100%{
        left: -80%;
    }
}
@keyframes coin4 {
    0%{
        left: 140%;
    }
    100%{
        left: -80%;
    }
}



#score{
    position: relative;
    bottom: 300px;
    margin: 75px;
    font-size: 2rem;
    color: #FBFF2C;
}
.buttons{
    position: relative;
    left: 80%;
    bottom: 425px;
}
#man{
    position: relative;
    height: 250px;
}
.gamecontents{
    position: relative;
    top: 290px;
    /* here------------->>>>>>>>>>>>>> */
    display: none;
}
.coins{
    position: relative;
    bottom: 120px;
    height: 100px;
}
.mobile-reponsive-controls{
    display: none;
}


/* mobile responsive */
@media (orientation:portrait){
    body{
        background-image: url("./Asserts/Level\ 5-2.png");
        background-size: cover ;
    }
    .howtoplay{
        position: relative;
        left: 15%;
        top: 120px;
        width: 350px;
        height: 200px;
        overflow-x: hidden;
    }
    h1{
        position: relative;
        font-size: 1rem;
        left: 40px;
        top: 25px;
    }
    #description{
        position: relative;
        top: 35px;
        left: 50px;
        font-size: .7rem;
        line-height: 20px;
    }
    #arrowkeys{
        position: relative;
        left: 60%;
        bottom: 40px;
        height: 70px;
    }
    #leftarrow{
        position: relative;
        bottom: 0px;
        right: 70px;
        height: 20px;
    }
    #left{
        position: relative;
        left: 70px;
        font-size: .5rem;
        bottom: 20px;
    }
    #toparrow{
        position: relative;
        bottom: 45px;
        left: 170px;
        height: 25px;
    }
    #top{
        position: relative;
        left: 190px;
        bottom: 70px;
        font-size: .5rem;
    }
    #rightarrow{
        position: relative;
        left: 250px;
        bottom: 93px;
        height: 20px;
    }
    #right{
        position: relative;
        left: 270px;
        bottom: 115px;
        font-size: .5rem;
    }
    button{
        position: relative;
        left: 40%;
        top: 230px;
        font-size: .9rem;
        padding: 10px 25px 10px 25px;
    }


    .gamecontents{
        position: relative;
        top: 310px;
    }
    .coins{
        position: relative;
        height: 40px;
    }
    #man{
        position: relative;
        left: 30px;
        height: 150px;
    }
    #score{
        position: relative;
        font-size: 1rem;
        left: -40px;
    }
    #mute,#replay{
        position: relative;
        top: 30px;
        right: 30px;
        height: 50px;
    }
    .mobile-reponsive-controls{
        display: inherit;
    }
    .left-right{
        position: relative;
        top: 110px;
        display: flex;
        justify-content: flex-end;
        height: 60px;
    }
    #top-key{
        position: relative;
        top: 50px;
        left: 30px;
        height: 60px;
    }
    #snake,#coin2{
        position: relative;
        bottom: 150px;
    }
    #centipedie{
        display: none;
    }
    #coin1,#coin2,#coin3,#coin4{
        position: relative;
        bottom: 220px;
    }
}